@tailwind base;
@tailwind components;
@tailwind utilities;

.poppins{
    font-family: 'Poppins', sans-serif;
}
.rajdhani{
    font-family: 'Rajdhani', sans-serif;
}
.colorr{
    transition: filter 0.2s ease, transform 0.2s ease;
}
.colorr:hover {
    filter: invert(46%) sepia(73%) saturate(1394%) hue-rotate(354deg) brightness(102%) contrast(79%);
}   
.carousel-container{
    display: flex;
}
.react-multi-carousel-dot-list{
    bottom: 30px !important;
    z-index: 11;
}
.react-multi-carousel-dot--active button {
    background:#E47725 !important;
}

